<div class='container-fluid'>
  <div class='row'>
    <div class="col-4 offset-4">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="card sign-up">
        <div class="card-header">
          新規登録
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-3">
              <%= f.label :profile_image %>
            </div>
            <div class="col-9">
              <%= f.attachment_field :profile_image %>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <%= f.label :name %>
            </div>
            <div class="col-9">
              <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <%= f.label :email %>
            </div>
            <div class="col-9">
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <%= f.label :password %>
            </div>
            <div class="col-9">
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password" %>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <%= f.label :password_confirmation %>
            </div>
            <div class="col-9">
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>
          </div>
          <div class="row">
            <div class="col-4 offset-4">
              <%= f.submit "Sign up", class: "btn btn-info sign-up-botton" %>
            </div>
          </div>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>