<div class='container-fluid'>
  <div class='row'>

  	<div class='col-3'>
  	  <ul class='side-menu'>
  	  	<li>1</li>
  	  	<li><%=link_to "ホーム", posts_path, class: "nav-link" %></li>
  	  	<li>プロフィール</li>
  	  	<li><%=link_to "User(一覧)", users_path, class: "nav-link" %></li>
  	  	<li><%= link_to "ログアウト", destroy_user_session_path, class: "nav-link", :method=>:delete %></li>
  	  	<li>投稿</li>
  	  </ul>
  	</div>

  	<div class='col-6 main'>
  	  <h2>User(一覧)</h2>
  	  <table class="table">
  	  	<tbody>
  	  	  <% @users.each do |user| %>
  	  	  <tr>
  	  	  	<td><%= attachment_image_tag user, :profile_image %></td>
  	  	  	<td><%= user.name %></td>
  	  	  	<td></td>
  	  	  	<td></td>
  	  	  </tr>
  	  	  <% end %>
  	  	</tbody>
  	  </table>
  	</div>
  </div>
</div>