<!-- container-fluid → 可変幅のコンテナ(ウィンドウサイズを変えても常に画面いっぱいに広がる -->
<div class='container-fluid'>
  <div class='row'>

　　<!-- サブメニュー -->
  	<div class='col-3'>
      <%= render 'posts/sidemenu' %>
  	</div>
　  <!-- 投稿ボタン -->
    <%= render 'posts/modal', posts:Post.new %>

    <div class='col-6 post-index-main'>
      <% @posts.each do |post| %>
			  <div class="card">
			    <div class="card-header">
			    	<%= attachment_image_tag post.user, :profile_image, :fill, 50, 50, fallback: "no-image.jpg", size: "50x50", class: "rounded-circle" %>
			    	<%= post.user.name %>
			    	<%= link_to post_path(post), class: "show-icon" do %>
			    	  <i class="fa fa-ellipsis-h fa-lg"></i>
			    	<% end %>
			    </div>
			    <%= attachment_image_tag post, :image %>
			    <div class="card-body">
			    	<%= render partial: 'posts/posts', locals: { post: post }  %>
			    </div>
			    <div class="card-text">
			    	<%= post.post_comment %>
			    </div>
			    <div class="card-footer" style="padding: 0px">
			    	<%= render partial: 'comments/form', locals: { comment: @comment, post: post } %>
			    </div>
			  </div>
	    <% end %>
    </div>

  </div>
</div>